rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Profile images: Publicly readable, writeable by the owner folder
    match /profile_images/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Company logos
    match /company_logos/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Default deny
    match /{allPaths=**} {
      allow read, write: if request.auth != null && (exists(/databases/(default)/documents/admins/$(request.auth.uid)));
    }
  }
}
